

.maindiv-light{
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}


.navbar-light{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-light  li{
  padding: 3vh 1vw;
}
.navbar-light li a{
  color: black;
  text-decoration: none;
}

.maindiv-dark{
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  background-color: black;
  color: white;
}


.navbar-dark{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-dark  li{
  padding: 3vh 1vw;
}
.navbar-dark li a{
  color: white;
  text-decoration: none;
}


.heading h2{
  text-align: center;
}
.textform{
  width: 80vw;
  margin: auto;
}
.summary h3{
  text-align: center;
}
.btn{
  display: inline;
}
.container h2 {
  margin: 50px 0px;
  text-align: center;
}
.container p{
  width: 80vw;
  margin: 50px auto;
  text-align: center;
}

.redcolor .summary{
  color: red;
}

.dark-mode .fullbody{
  background-color: black;
  color: white;
}
.alert{
  background-color: black;
  color: white;
  padding: 10px 30px;
}
.alert-none{
  display: none;
}
.alert-btn{
  float: right;
}
.height{
  height: 50px;
}